.train-card-section-main{
    background-color: rgba(131, 204, 236, 0.3) !important;
    /* margin-bottom: 20px; */
}
.card{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 8px;
    text-align: center;
    min-height: 680px;
    
}
.seven-day-trail-btn{
    background-color: rgb(6, 147, 207) !important;
    color:#FFFFFF;
    font-weight: bold;
    border:none;
    border-radius: 8px;
}

.seven-day-trail-btn:hover{
    background-color: rgb(4, 77, 108) !important;
}

.btn-monthly{
    background-color: rgb(4, 77, 108) !important;
    color:#FFFFFF;
    font-weight: bold;
    border:none;
    border-radius: 8px;
    padding-left:10px;
    padding-right:10px;
    padding-top:6px;
    padding-bottom:6px;
}
.btn-monthly:hover{
    background-color: rgb(6, 147, 207) !important;
}
.fa-check{
    color: rgb(6, 147, 207) !important;
   
}
.check-label{
    font-size: 17px;
    font-family: roboto;
    font-weight: 500;
}
.check-label:hover{
    color: rgb(6, 147, 207) !important;
    font-weight: 400;
    cursor: pointer;
}
.check-label{
    width:40%
}
.check-box-container{
    width:70%
}